<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.xenonhd.overlay.accent.turquoise.android"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:priority="1" />

    <application
        android:hasCode="false"
        android:label="@*lineageos.platform:string/accent_xenonhd_turquoise">

        <meta-data
            android:name="lineage_berry_accent_preview"
            android:value="#00FFFF" />
    </application>
</manifest>
